html, body {
  margin: 0px;
  overflow: hidden;
}

body {
  height: 100vh;
  width: 100vw;
}

#eas-container {
  border: 4vw solid red;
  border-radius: 1.5vh / 1.5vh;
  width: 40vw;
  height: 40vw;
  position: relative;
  left: 26vw;
}

#eas-screen {
  position: relative;
  z-index: 10;
  background-color: #efefef;
  height: 100%;
  width: 100%;
}

.screen-row{
  clip-path: border-box;
}

#res-controls {
  position: fixed;
  top: 45vh;
  left: 5vw;
  font-size: 1.5em;
}

#current-res {
  text-align: center;
  font-weight: 900;
}

.screen-box {
  transition: background-color 5s;
}

.screen-box:hover {
  transition: background-color .01s;
  background-color: red;
}